{{!-- Todo lo del body --}}

<h1>Bienvenido</h1>
<div>
    {{!-- Escribiremos nuestro mensaje. --}}
    <input id="chatBox">
</div>
<div>
    {{!-- muestra los mensajes enviados. --}}
    <p id="messageLogs"></p>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>